
.InfoProduct-wrap {
  background-color: #F1F8F4;
      padding: 190px 20px;

  .InfoProduct-container {
    display: flex;

    .InfoProduct-bl {
        width: 100%;
        max-width: 612px;
        height: 583px;
        background-repeat: no-repeat;
        background-size: contain;
        margin: 0 auto;
        margin-right: 38px;

        .bl-wrap {
          height: 32em;
          display: flex;
          align-items: center;
          justify-content: center;
              }

    }
    .left {
       background-image: url("../../assets/img/1.png");

    }
        .center {
       background-image: url("../../assets/img/2.png");

    }

        .right {
       background-image: url("../../assets/img/3.png");

    }
  }
}