.myBtn {
  padding: 5px 15px;
  color: #274c5b;
  font-size: 20px;
  font-weight: 700;
  background: transparent;
  // border: 1px solid teal;
  cursor: pointer;
  font-family: 'Roboto';
  line-height: 23px;


}
