.presentationwrapper {
  // padding-top: 100px;
  // padding-bottom: 100px;
  height: 898px;
  background-image: url("../../assets/img/Banner.png");
  max-width: 1920px;
  width: 100%;
  background-repeat: no-repeat;

  background-size: contain;
  margin: 0 auto;

  .prasentation-info {
    max-width: 530px;
        padding-top: 170px;

    h4 {
      color: #68a47f;
      font-family: "Yellowtail", cursive;
      font-size: 36px;
      font-weight: 400;
    }

    h2 {

      font-size: 70px;
      line-height: 82.03px;
      font-weight: 800;
      color: #274C5B;


    }
  }
}
