.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;

    .navigation-items-container {
      margin: 0 auto;
    .navigation-items {
      list-style: none  !important;
      display: flex;
      align-items: center;
      justify-content: center;

      .navigation-item {
      margin: 0 10px;
      padding: 10px;
      cursor: pointer;
    }
    .navigation-item:hover {
      background-color: #f1f1f1;
    }

              .navigation-item:nth-child(3)  {
              position: relative;
              padding-right: 19px;
              &:after {
                content: "";
                position: absolute;
                right: 0px;
                top: 17px;
                width: 10px;
                height: 6px;
                background-image: url("../../assets/img/Vector\ 1.svg");
                background-repeat: no-repeat;
                }
              }
          }
    }

    .search-cart-container {
      display: flex;
      align-items: center;
      .search-container {
      position: relative;
      display: flex;
      align-items: center;
      margin-right: 20px;

      .search-input {
        border: none;
        border-radius: 49px;
        padding: 10px;
        margin-right: 10px;
        width: 376px;
        background-color: #FAFAFA;
        height: 69px;
    }
    .search-button {
        position: absolute;
        right: 11px;
        height: 56px;
        width: 56px;
        background-color: #7EB693;
        border: 50%;
        border: none;
        border-radius: 50%;

    }
    }
    }
}

.cart-icon-wrapper {
  width: 159px;
  height: 66px;
  display: flex;
  align-items: center;
  border: 1px solid #E0E0E0;
  border-radius: 33px;
  padding: 5px;
  box-sizing: border-box;
  .cart-icon {
    width: 56px;
    height: 56px;
    background: #274C5B;
    border-radius: 50%;
    background-image: url('../../assets/img/cart-icon.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .cart-value {
    margin-left: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #274C5B;

    span {
      &.active {
        color: #FF0404;
      }
    }
  }
}